<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student score predictor</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/main.css') }}"
    />
  </head>
  <body class="bg-gray-900 text-gray-100 p-5 flex justify-center align-middle">
    <div class="container mx-auto p-4 sm:w-max lg:w-7/12">
      <h1 class="text-3xl font-bold mb-4 w-full text-center">
        Student Math Score Predictor
      </h1>
      <form action="{{ url_for('predict') }}" method="post">
        <div class="form-input">
          <label for="gender">Gender</label>
          <select name="gender" id="gender" required>
            <option value="male" {% if data.gender =="male" %} selected {% endif %}>Male</option>
            <option value="female" {% if data.gender =="female" %} selected {% endif %}>Female</option>
          </select>
        </div>
        <div class="form-input mb-4">
          <label for="race_ethnicity">Race Ethnicity</label>
          <select name="race_ethnicity" id="race_ethnicity" required>
            <option value="group A" {% if data.race_ethnicity == "group A" %} selected {% endif %}>Group A</option>
            <option value="group B" {% if data.race_ethnicity == "group B" %} selected {% endif %}>Group B</option>
            <option value="group C" {% if data.race_ethnicity == "group C" %} selected {% endif %}>Group C</option>
            <option value="group D" {% if data.race_ethnicity == "group D" %} selected {% endif %}>Group D</option>
            <option value="group E" {% if data.race_ethnicity == "group E" %} selected {% endif %}>Group E</option>
          </select>
        </div>
        <div class="form-input">
          <label for="parental_level_of_education"
            >Parental Level of Education</label
          >
          <select
            name="parental_level_of_education"
            id="parental_level_of_education"
            required
          >
            <option value="some high school" {% if data.parental_level_of_education == "some high school" %} selected {% endif %}>Some High School</option>
            <option value="high school" {% if data.parental_level_of_education == "high school" %} selected {% endif %}>High School</option>
            <option value="some college" {% if data.parental_level_of_education == "some college" %} selected {% endif %}>Some College</option>
            <option value="associate's degree" {% if data.parental_level_of_education == "associate's degree" %} selected {% endif %}>Associate's Degree</option>
            <option value="bachelor's degree" {% if data.parental_level_of_education == "bachelor's degree" %} selected {% endif %}>Bachelor's Degree</option>
            <option value="master's degree" {% if data.parental_level_of_education == "master's degree" %} selected {% endif %}>Master's Degree</option>
          </select>
        </div>
        <div class="form-input">
          <label for="lunch">Lunch</label>
          <select name="lunch" id="lunch" required>
            <option value="standard" {% if data.lunch == "standard" %} selected {% endif %}>Standard</option>
            <option value="free/reduced" {% if data.lunch == "free/reduced" %} selected {% endif %}>Free/Reduced</option>
          </select>
        </div>
        <div class="form-input">
          <label for="test_preparation_course">Test Preparation Course</label>
          <select
            name="test_preparation_course"
            id="test_preparation_course"
            required
          >
            <option value="none" {% if data.test_preparation_course == "none" %} selected {% endif %}>None</option>
            <option value="completed" {% if data.test_preparation_course == "completed" %} selected {% endif %}>Completed</option>
          </select>
        </div>
        <div class="form-input">
          <label for="reading_score">Reading Score</label>
          <input
            type="number"
            name="reading_score"
            id="reading_score"
            min="0"
            max="100"
            step="0.25"
            required
            {% if data.reading_score %} value="{{ data.reading_score }}" {% endif %}
          />
        </div>
        <div class="form-input">
          <label for="writing_score">Writing Score</label>
          <input
            type="number"
            name="writing_score"
            id="writing_score"
            min="0"
            max="100"
            step="0.25"
            required
            {% if data.writing_score %} value="{{ data.writing_score }}" {% endif %}
          />
        </div>
        <button type="submit">Predict</button>
      </form>
      {% if prediction %}
      <div class="prediction-result">
        <h2>Predicted Math Score: {{ prediction }}</h2>
      </div>
      {% endif %}
    </div>
  </body>
</html>
